.header {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: start;
  box-shadow: none;
  font-size: 1.4rem;
  background-color: transparent;
}

@media only screen and (max-width: 480px) {
  .header {
    justify-content: center;
    background-color: #bf90f8;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}
